.contenedor{
    width: 900px;
    height: 1000px;
    background-color: rgb(50, 153, 62);
    margin: 0 auto;
    
    }
    
    #ventana 1{
        height: 30%;
        background-color: rgb(51, 135, 32);
    }

    #ventana 2{
        height: 60%;
        background-color: rgb(51, 135, 32);
    }

    h1{
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 40px;
    }

    label{
        margin-left: 20px;
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 20px;
    }
  
    button{
        
        padding: 12px;
        margin: 0 auto;
        margin-left: 50px;
        
        
        font-size: 16px;
        position:relative;
        margin-top: 15px;
        left: 0%;
        border-radius: 15px;
    }

